* {
  box-sizing: border-box;
}
.box1 {
  background-color: #FF0000;
  width: 200px;
  height: 200px;
}
.box1-ext {
  background-color: #00ff00;
}
.box2 {
  background-color: blue;
  width: 200px;
  height: 200px;
}
.box2-ext {
  border: 10px solid black;
}